@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: #C5C3C6;
    font-family: 'Open Sans', sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0px;
}
.container {
    display: flex;
    margin: 0px;
    padding: 20px;
    width: 800px;
    max-width: 100%;
}
aside {
    padding: 100px 10px 10px 10px;
    width: 200px;
}
button {
    background-color: #DCDCDD;
    cursor: pointer;
    padding: 10px;
    border-radius: 7px;
    border: none;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    box-shadow: 6px 6px 6px #999;
    user-select: none;
}  
button:active {
    box-shadow: 2px 2px 2px #777;
    transform: translateY(3px);
}
button:hover{
    background-color: #46494C;
    color: white; 
}
main {
    flex: 1;
    padding: 10px;
}
h2 {
    border-bottom: 1px solid #46494C;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin: 0 0 20px 0;
}
h3 {
    background-color: transparent;
    border-bottom: 1px solid #46494C;
    padding: 10px;
    display: flex;
    justify-content:flex-end;  
    margin: 20px 0 0;
}
.user {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
